body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: black;
  color: white;
}

.navbar {
  background: #111;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h1 {
  color: gold;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 120px 20px;
}

.btn {
  background: gold;
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.container {
  padding: 40px;
}

input, button {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 300px;
}

button {
  background: gold;
  border: none;
  cursor: pointer;
}

#formArea {
  margin-top: 20px;
}

#output {
  margin-top: 20px;
  background: #222;
  padding: 20px;
  white-space: pre-line;
}
